[Desktop Entry]
Type=Application
Name=SlouchUp
Comment=Nudges you when you start to slouch
Exec=slouchup
Icon=dev.weareframes.slouchup
Categories=Utility;
Keywords=posture;slouch;webcam;
StartupWMClass=slouchup
